img {
	width: 1.5em;
	margin: 2vh 2% 1% 2vh;
}

footer {
	position: absolute;
	bottom: 0;
	width: 100vw;
	height: auto;
	padding: 2vh 0 2vh 0;
	text-align: center;
	line-height: 0px;
	margin-top: 5vh;
}

.c {
	font-size: 10px;
}